# Api doc
APIDOC_TITLE="Project Management API DOCS"
APIDOC_DESCRIPTION="Project management API description"
APIDOC_VERSION="1.0"
APIDOC_URL="api-doc"

# PostgreSQL database URL and credentials
BASE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/p_management
P_MANAGEMENT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/p_management

# Front-end URL
FRONTEND_URL=http://localhost:3000

# SMTP
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USER
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
SMTP_FROM=YOUR_SMTP_FROM

#JWT
JWT_SECRET=YOUR_ENV
ACCESS_TOKEN_KEY=YOUR_ENV
REFRESH_TOKEN_KEY=YOUR_ENV

#GG 
CLIENT_ID=YOUR_ENV
CLIENT_SECRET=YOUR_ENV
GG_CALL_BACK_URL=YOUR_ENV